<html>

<head>
  <title>Personal Library</title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div>
      <h1 class="display-6 text-center">Personal Library</h1>
    </div>
    <hr>
    <div>
      <h6 class="mb-3">Create New Book</h6>
      <form id="newBookForm">
        <div class="row align-items-end justify-content-center">
          <div class="col-6">
            <label for="bookTitle" class="form-label">Title</label>
            <input id="bookTitle" class="form-control" name="title" required />
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <hr>
    <div>
      <div class="d-flex justify-content-between">
        <h6>Books List</h6>
        <button class="btn btn-danger" id="deleteAllBooks">
          Delete All Books
        </button>
      </div>
      <div id="bookList" class="row row-cols-md-4 row-cols-sm-3 row-cols-1 mt-4 g-2">
      </div>
    </div>
  </div>
  <div class="modal fade" id="commentsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="commentForm">
            <h6>Add New Comment</h6>
            <div class="row align-items-center justify-content-around">
              <div class="col-auto">
                <input class="form-control" id="commentInput" placeholder="comment" name="comment" required />
              </div>
              <div class="col-auto"><button type="submit" class="btn btn-primary">Save</button></div>
            </div>
          </form>
          <hr />
          <ul></ul>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
    integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
  <script src="/public/client.js"></script>
</body>

</html>